*{
    padding: 0;
    margin: 0;

}
.header{
    width: 100%;
    height: 44px;
    background: red;
    padding-top:3px ;
}

li {
    list-style: none;
    background-color: lightgray;
    background-image: linear-gradient(90deg, red 20px, lightgray 10px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 43%;
    margin-left: 39%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
}

#query {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: lightgray;
    color: gray;
    padding-left: 29px;
}

ul {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
}

.header-logo{
    border:1px solid red;
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
    font-size: 23px;
    padding-bottom: 1px;
    color:red;
    background:white;
    margin-left: 2px;
    float: left;
}
.lg a{
    text-decoration: none;
    color:white;
}
.reg{
    float:right;
    border:1px solid wheat;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color:white;
    margin-right: 5px;
    box-shadow: 2px 3px 5px rgb(128, 128, 128);

}
.login{
    float:right;
    width: 80px;
    height: 20px;
    font-size: 20px;
    margin: 4px 0 0 6px;
}
.absolute-block{
    position: absolute;
    top: 20%;
    left:30%;
}
.main-heading{
    font-size: 30px;
    color: white;
    font-family: cursive;
    font-style: italic;
    line-height: 2;
    font-weight: bold;
}
.locationSelector{
    text-align: center;
}
.locationDropdown{
    position: absolute;
    left: 2px;
    width: 165px;
    height: 35px;
    color: gray;
    margin-left: 15%;
    
}
.search{
    width: 16rem;
    height: 35px;
    margin-left: 152px;
    padding-left: 10px;
    border: none;

    
}
.search-box{
    display: inline-block;
    border: 1px solid gray;
    position: relative;
    width: 271px;
    height: 30px;
    background: white;
    color: blue;
    text-align: left;
    margin-left: 30%;
    padding-left: 4px;
}
.logo{
    border:2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    color:red;
    background: white;
    margin-left: 44%;
}
.heading{
    font-size:30px;
    font-weight: bold;
    color: darkblue;
    font-family:cursive ;
}
.sub-heading{
    color: black;
    font-family: cursive;
    font-size: 20px;
    color: darkgray;
    margin-bottom: 3%;
}
.items{
    width: 90%;
    height: 160px;
    box-shadow: 10px 10px 15px 2px red;
    margin-bottom: 10%;


}
.item-left{
    display: inline-block;
    width: 40%;
    height: 100%;
}
.item-right{
    display:inline-block;
    width: 50%;
    vertical-align: top;
    padding: 5% 0 0 5%;
}
.qs-heading{
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: black;
}
.qs-paragraph{
    font-size: 15px;
    font-family: cursive;
    color: grey;
    font-style: italic;
}
@media only screen and (max-width:600px){
    .item{
        width: 80%;
        margin-left: 10%;
    }
    .logo{
        width: 40px;
        height: 40px;
        font-size:25px ;
        margin-left:36%;
    }
    .main-heading{
        font-size:16px;
    }
    .absolute-block{
        top: 28%;
        left:15%;
    }
    .search-block{
        margin-right: 55px;
    }
    .select{
        width: 150px;
        height: 30px;
    }
    .search{
        width: 14rem;
        height: 25px;
    }
    .wall-img{
        height: 280px;
    }
    .heading{
        margin-left: 40px;
    }
    .sub-heading{
        margin-left: 40px;
    }
}
